body {
  font-family: poppins, sans-serif;
}

@media only screen and (max-width: 768px) {
 
     .popup {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          z-index: 9999;
     }

     .popup-content {
          background-color: #fff;
          padding: 30px 20px;
          max-width: 300px;
          margin: 100px auto;
          border-radius: 30px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          text-align: center;
     }
     .popup-content img{
          width: 45%;
     }
     .popup-content .welcome{
          font-size: 16px ;
          font-weight: 800;
          margin-top: -25px;
     }
     .popup-content .login-existing{
          font-size: 13px;
          font-weight:400;
          margin-top: -10px;
          margin-bottom: 30px;
     }
     .form-wrapper{
          width: 98%;
          text-align: center;
     }
     .form-wrapper label{
          display: none;
     }
     .form-wrapper input{
          width: 90% ;
          padding: 20px 20px ;
          border-radius:50px ;
          border:none ;
          /* border:2px solid #0148A4 !important; */
          margin: 10px 0px;
          background: #d5e3f5;
     }
     .form-wrapper input::placeholder,label .fa {
          color: #8f8d8d;
     }
     /* label .fa{
          position: absolute;
          left: 80px;
     }  */
     .form-wrapper .forgot{
          font-size: 13px;
          font-weight:400;
          width: 100%;
          position: absolute;
          right: -85px;
          color: #000;
          text-decoration: none;
     }
     .form-wrapper .submit{
          background: #0148A4;
          color: #fff;
          width: 60%;
          margin-top: 15px;
          border-radius:50px;
          padding: 15px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          border: none;
     }
     .or-connect{
          color: #8f8d8d;
          padding-top: 15px;
     }
     .connect-as{
          width: 100%;
          display: flex !important;
          justify-content: center;
     }
     .btn-connect{
          background: #a7a5a5;
          padding: 8px;
          width: 100px !important;
          margin: 0px 5px;
          border-radius: 5px;
          font-size: 14px;
          text-decoration: none;
          color: #fff;
     }
     .btn-fb{
          background: #375C8E;
     }
     .btn-google{
          background: #F4432E;
     }
     .dont-have, .dont-have a{
          margin-top: 20px !important;
          font-size: 14px;
          text-decoration: none;
     }


     /* .closeBtn {
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 24px;
          cursor: pointer;
     } */

     /* form {
     margin-top: 15px;
     }

     label {
     display: block;
     margin-bottom: 5px;
     }

     input[type="text"],
     input[type="email"],
     input[type="password"] {
     width: 100%;
     padding: 8px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     }

     button[type="submit"] {
     background-color: #4CAF50;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 4px;
     cursor: pointer;
     }

     button[type="submit"]:hover {
     background-color: #45a049;
     } */

     /* Show the popup when the trigger button is clicked */
     /* .popup-show {
     display: block;
     } */


}
